<footer class="footer footer-center p-4 text-base-content" style="background-color: #7882A4;">
  <div>
    <p style="color:white">Copyright © 2022 - All right reserved by ACME Industries Ltd</p>
  </div>
</footer>