@inherits LayoutComponentBase

<PageTitle>Ecommercecsharp</PageTitle>

<div class="page">
    <main>
        <Ecommercecsharp.components.Nav/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
